# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. TensorFlow

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. TensorFlow

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Colab|
|Visula studio code|

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Colab|
|Visula studio code|

### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
minutes=60
current_hours = 200/ minutes
print(current_hours)

3.3333333333333335

**Objectives:**
- python
- c
- c++
- javascript
- sql
- r

**Objectives:**
- python
- c
- c++
- javascript
- sql
- r

## Author
Olivia, Kim

## Author
Olivia, Kim